body{
  font-family:sans-serif;
  background-color:lightgray;
  text-align:center;
  line-height:1.6;
}


h1{
  color:#191970;
  padding-bottom:20px;
  border-bottom:1px solid #ccc;
}

h2,h3{
  color:#b0c4de
  margin-top:30px;
}

p{
  margin-bottom:15px;
}

img{
  margin:20px auto;
  width:150px;
  height:150px;
  border-radius:50%;
  border:3px solid darkblue;
}

ul{
  list-style-type:circle;
}

li{
  margin-bottom:5px;
}

table{
  width:80%;
  margin:20px auto;
}

table th{
  border:1px solid #ddd;
  padding:8px;
  text-align:left;
  background-color:#f2f2f2;
}

table td{
  border:1px solid #ddd;
  padding:8px;
  text-align:left;
}

a{
  width:10px;
  height:5px;
  border:1px solid #191970;
  background-color:lightgray;
}

a:hover{
  opacity:0.5;
}

.tab{
  float:left;
}
